@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto&family=Rubik&family=Rubik+Bubbles&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik Bubbles', cursive;
}

.App {
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.menubar a {
    color: #a18b60;
    text-decoration: none;
    font-weight: 400;
    transition: .2s;
}

.menubar a:hover {
    opacity: .8;
}

.hero {
    width: 100%;
    height: 90vh;
    background: url("https://lh3.googleusercontent.com/pw/AM-JKLV7mu7aGI0U0XIVpf6HVMACxLSUpLJBs-wpRb1NdoEreN8iLDoHCZYsVkzG2Xk-MOubbEbSGUUuzNSfJU9UvZorrjzpiLBv-rZyhR9wNpPPUVPIjC5ONoA0qPFUBnviYvgiQWkw2P7tLMo5IjufFOiq=w993-h662-no?authuser=1");
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.hero__container {
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero__container h4 {
    margin-top: 80px;
    color: #d21a58;
    font-family: inherit;
    font-size: 3rem;
    word-spacing: 20px;
    /* font-weight: ; */
}

.fourway span {
    word-spacing: 10px;
}


/* #15448a */

@media (max-width: 800px) {
    .menubar a {
        font-size: small;
    }
}